@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,700&display=swap');

:root {
    --slider-bg-color: #f5e6e0;
    --black: #222222;
    --bg-white: #ffffff;
    --collection-white: #EFF0F2;
    --pastel-white: #E5E1DD;
    --pastel-pink: #F5E6E0;
    --pastel-gray: #E7E6E4;
    --gray: #E4E4E4;
    --yellow: #B9A16B;
    --light-gray: #767676;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;

}

body {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.743;
    background-color: var(--bg-white);
    color: var(--black);
    font-family: 'Jost', sans-serif;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    color: #222;
    text-decoration: none;
}


/* container */
.container {
    width: 1410px;
}



/* position */
.position-relative {
    position: relative !important;
}

/* text */

.text-secondary {
    color: var(--light-gray);
}

.fw-normal {
    font-weight: 500 !important;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize !important;
}

.text-underline{
    text-decoration: underline;
}

.text-center{
    text-align: center;
}

/* display */

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex !important;
}

/* justify-content */

.justify-content-center {
    justify-content: center;
}

.justify-content-start {
    justify-content:start;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-between {
    justify-content:space-between;
}
.justify-content-around {
    justify-content:space-around;
}
.justify-content-evenly {
    justify-content:space-evenly;
}

/* justify-content */


/* align-items */

.align-items-start {
    align-items: start;
}
.align-items-end {
    align-items: end;
}
.align-items-center {
    align-items: center;
}

/* align-items */


/* width */

.w-100{
    width: 100% ;
}

.w-75{
    width: 75% ;
}

.w-50{
    width: 50% ;
}

.w-25{
    width: 25%s ;
}